* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

body {
    background-color: #ddd;
    font-size: 1em;
    font-family: "montserrat";
    margin: 50px;
}

.container {
    display: grid;
    gap: 10px;
}

.header {
    display: grid;
    grid-template-areas: 
        "hero hero feature-1"
        "hero hero feature-2";
}

.hero {
    grid-area: hero;
    min-height: 300px;
    background-image: url(asset/people.jpg);
    background-size: cover;
    background-position: center;
    padding: 50px;
    object-fit: cover;
    filter: grayscale(100%);
    transition-property: filter;
    transition-duration: 0.8s;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 30px;
    font-size: 1.5em;
    color:white;
    text-shadow: 2px 2px 3px #000;
    cursor: pointer;
}

.hero:hover {
    filter: grayscale(0);
}

.features {
    background-color: #000;
    color:white;
    display: grid;
    /* justify-content: center;
    align-content: center; */
    place-content: center;
    text-align: center;
    cursor: pointer;
    text-shadow: 2px 2px 3px #000;
    filter: grayscale(0);
    min-height: 250px;
}

.feature-1 {
    grid-area: feature-1;
    background-image: url(asset/city.jpg);
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
    transition-property: filter;
    transition-duration: 0.8s;
    border-top-right-radius: 30px;
}

.feature-2 {
    grid-area: feature-2;
    background-image: url(asset/beach.jpg);
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
    transition-property: filter;
    transition-duration: 0.8s;
    border-bottom-right-radius: 30px;
}

.features:hover {
    filter: grayscale(0);
}


.features .price {
    font-size: 2em;
    font-weight: 400;
}

.menu {
    order: -1;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    background-color: white;
}

.menu .brand {
    font-size: 1.3em;
    color: black;
}

.menu ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 5px;
}

.menu a {
    display: block;
    background-color: #000;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
    border-radius: 5px;
}

.menu a:hover {
    color: black;
    background-color: wheat;
    transition-duration: 0.5s;
}

.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.service {
    background-color: white;
    padding: 15px;
    text-align: center;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.service:hover {
    color: black;
    background-color: wheat;
    transition-duration: 0.5s;
}

.service p {
    font-weight: 200;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5px;
}

.gallery h2 {
    /* grid-column-start: 1;
    grid-column-end: -1; */
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 20px;
}

.card-1 {
    grid-column: 1 / 3;
    grid-row: 1 / 4;
}

.card-2 {
    grid-column: 3 / 6;
    grid-row: 1 / 3;
}

.card-3 {
    grid-column: 6 / 8;
    grid-row: 1 / 2;
}

.card-4 {
    grid-column: 1 / 3;
    grid-row: 3 / 7;
}

.card-5 {
    grid-column: 3 / 5;
    grid-row: 3 / 5;
}
/* .card-6 {
    grid-column: 3  / 5;
    grid-row: 5 / 5;
} */

.card-7 {
    grid-column: 6 / 8;
    grid-row: 2 / 5;
}

.card-8 {
    grid-column: 3 / 5;
    grid-row: 5 / 8;
}

.card-9 {
    grid-column: 5 / 8;
    grid-row: 4 / 6;
}

section h2 {
    margin-top: 2em;
    font-size: 2em;
}

.listlist {
    text-align: center;
}

.list {
    display: flex;
    flex: 1;
    justify-content: space-between;
    /* align-items: center; */
    text-align: left;
    padding: 3rem;
}

section div ul li {
    list-style: url(asset/iconsmall.svg);
    color: #333;
    text-shadow: 2px 2px 2px whitesmoke;
    font-size: 1em;
    box-sizing: border-box;
    font-size: 1.8em;
    list-style-position: inside;
}

.listlistlist {
    flex: 0 0 33%;
}

.article {
    flex: 0 0 33%;
    background-color: #fff;
    box-sizing: border-box;
    padding:10px;
    font-size: 1.8em;
 }

.img-list {
    flex: 0 0 33%;
    width: 400px;
    height: auto;
    box-sizing: border-box;
}


section div ul li:nth-child(-1n+5) {
    background: #FF5733;
}

section div ul li:nth-child(1n+6) {
    background: #33FFBD;
}

fieldset {
    margin: 16px 0;
    border-radius: 4px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 98%;
    padding: 4px 4px;
    margin: 8px 0;
    display: block;
}

input[type="date"] {
    margin: 8px 0;
    display: block;
}

.container-form {
    background-color: #333333;
    color: white;
    padding: 8px;
    margin-top: 16px;
    box-sizing: content-box;
    
}

.before-form {
    text-align: center;
}

form {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}

button[type="submit"] {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 4px;
    width: 100%;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    color: black;
    background-color: white;
    transition-duration: 0.8s;
}


@media (max-width: 1024px) {
    .menu {
        order: inherit;
        grid-template-columns: 1fr;
    }

    .menu .brand {
        display: none;
    }

    .hero {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }

    .list {
        display: block;
    }

    .img-list {
        margin-top: 1rem;
        width: 800px;
        height: auto;
    }

    body {
        font-size: 80%;
        margin: 0px;
    }
    
    .gallery {
        display: block;
    }
}

@media (max-width: 768px) {
    .list {
        display: block;
    }

    .img-list {
        margin-top: 1rem;
        width: 700px;
        height: auto;
    }

    body {
        font-size: 70%;
        margin: 0px;
    }
    
    .gallery {
        display: block;
    }
}

@media (max-width: 600px) {
    .header {
        grid-template-areas: 
            "hero"
            "feature-1"
            "feature-2";
    }

    .list {
        display: block;
    }

    .img-list {
        margin-top: 1rem;
        width: 300px;
        height: auto;
    }

    body {
        font-size: 55%;
        margin: 0px;
    }

}