* {
    margin: 0px;
    padding: 0px;
    outline: none;
    border: none;
    text-decoration: none;
}

header,
.nav,
div a {
    font-family: "londrina solid";
    color: black;   
}

main {
    font-family: "montserrat";
}

.navbar {
    text-wrap: wrap;
    width: 100%;
    background-color: rgb(100, 168, 36);
    height: 5rem;
    width: auto;
    display: flex;
    padding: 1rem;
    font-size: 2rem;
    justify-content: space-between;
    text-align: center;
    border-bottom: rgba(22, 104, 22, 0.5) solid;
    position: sticky;
    top: 0;
}

.navbar .navbar-logo a {
    color: rgb(234, 241, 207);
    text-shadow: 2px 3px 3px black;
}

.navbar-nav a {
    display: inline-block;
    margin: 0 0.5rem;
}

.navbar-nav a:hover {
    color: white;
}

.navbar-nav a::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.5rem solid rgba(22, 104, 22, 0.5);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar-nav a:hover::after {
    transform: scaleX(0.8);
    transition: 0.2s linear;
}

header h1 {
    font-size: larger;
    width: 100%;
}

.opening {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    padding: 1rem;
}

.header {
    margin-top: 5rem;
    font-size: 2rem;
    color: rgb(234, 241, 207);
    text-shadow: 2px 2px 2px black;
    height: 320px;
    background-image: url(asset/lemur.jpg);
    background-position-y: 15%;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

h1 {
    margin-top: 1rem;
    font-size: 1.5rem;
    text-align: center;
    text-wrap: wrap;
}

.grid-container {
  display: grid;
  grid-template-rows: 500px 500px;
  grid-template-columns: 600px 500px 300px auto;
  grid-gap: 10px;
}

.grid-container #item-1 {
    grid-column-start: 1;
    grid-row-start: span 3;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 10px;
    line-height: 50px;
    background: #6d6c6c;
    color: #fff;
    position: absolute;
    bottom: -100;
}

.container-list h2 {
    text-align: center;
}

section h2 {
    text-align: center;
}

ul {
    list-style: url(asset/iconsmall.svg);
}

.container-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-wrap: wrap;
}

.container-video {
    margin-top: 6rem;
    font-size: 1.5rem;;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    justify-content: center;
}
    
.container-form {
    font-size: 1.5rem;;
    background-color: #333333;
    color: white;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 50px;
    box-sizing: border-box;
}

#item-1 {
    grid-column: 1 / span 2;
    grid-row: 1;
}

.grid-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    transition-property: filter;
    transition-duration: 2s;
}

.grid-container img:hover {
    filter: grayscale(0);
}

fieldset {
    margin: 16px 0;
    border-radius: 4px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 4px 4px;
    margin: 8px 0;
    display: block;
}

input[type="date"] {
    margin: 8px 0;
    display: block;
}

.container-form {
    background-color: #333333;
    color: white;
    padding: 8px;
    margin-top: 16px;
}

form {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}

button[type="submit"] {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 4px;
    width: 100%;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    color: black;
    background-color: white;
    transition-duration: 0.8s;
}

.lemur {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

iframe {
    max-width: 480px;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    .sidebar, .column {
        flex: 1;
        margin: 10px 0;
    }
}